body{
    margin: 0;
    padding: 0;
    
}

.navbar{
    background: transparent;
    
}

.navbar-brand{
    font-size: 35px;
    padding-left: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.navbar-light .navbar-brand {
    color: white !important;
    font-weight: 100;
}

.navbar-light .navbar-brand:hover {
    color: darkorange !important;
}

.navbar-nav li{
    padding-right: 20px;
}

.navbar-nav li a{
    color: white !important;
    filter: brightness(100%);
    padding-right: 20px;
    font-size: 18px;
    
}

.navbar-nav li a:hover{
    color: darkorange!important;
    filter: brightness(100%);
}

.navbar-toggler{
    border: none;
    color: white;
    padding-top: 5px;
   
}

.custom{
    color: white;
    width: 40px;
    height: 25px;
    
}

.navbar-light .navbar-toggler-icon{
    background-image: url(../images/bars.png);
}

.image{
    background:grey url('../images/banner.jpg') center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.underline{
    
    border-bottom: 0.5px;
    border-bottom-style:solid;
    border-bottom-color: white;
    width: 95%;
    margin-top: -5px;
  
    
}

.header{
    font-family: 'K2D', sans-serif;
    text-transform: uppercase;
    color: whitesmoke;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
} 

.banner-head{
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 80px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 8px;
    position: relative;

}

.banner-head-sc{
    line-height: 70%;
}

.banner-contnt{
    font-size: 30px;
    padding-top: 4px;
}

/*ABOUT SECTION*/
.about-section{
    padding-top: 100px;
}

.about-section h2{
    font-size: 40px;
}

.about-section p{
    font-size: 19px;
    font-weight: 400;
}

.team-typo{
    font-weight: 400;
    color: darkslategray;
}

.about-section .text-muted{
    color: darkslategrey;
    font-size: 18px;
}

.team-section{
    padding-top: 50px;
}

.team-section-cards{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-section-cards .card{
    box-shadow: 0px 1px 5px black;

}

.team-section-cards .card:hover{
    box-shadow: 0px 1px 10px darkorange;

}

.team-section-cards .card-body{
    padding-top: 5px;
    margin-top: 0;
    padding-left: 10px;
    padding-bottom: 4px;
}

.team-section-cards .card-title{
    padding-top: 1px;
    font-weight:50x0;
    font-size: 18px;
    text-align: center;
}

#row-2{
    margin-top: -30px;
}



/*SERVICES SECTION*/
.card-style{
    border-radius: 0px;
}

.card-style:hover{
        box-shadow:  0 10px 45px rgba(0, 0, 0, 0.15)

}

 .service-typo .display-4{
    font-size: 40px;
     padding-top: 100px;
}

.service-main{
    background: darkgrey url(../images/servicesbg.jpg) center center fixed;
    margin-top: -40px;
}

.service-typo .text-muted{
    color: darkslategrey;
    font-size: 18px;
}

.service-icon{
    width: 90px;
    height: 90px;
    display: inline-block;
    margin-bottom: 25px;
    border-radius: 50%;
    font-size: 40px;
    line-height: 87px;
    color: #444444;
    box-shadow:  0 5px 45px rgba(0, 0, 0, 0.15)
}

.service-row1{
    padding-top: 40px;
}

.service-row2{
    padding-top: 40px;
    padding-bottom: 80px;
}

.card-text .text-muted{
    font-size: 18px;
}

.service-body{
    padding-top: 40px;
    padding-bottom: 40px;
}

/*------------Foooter section---------*/
.footer-lg{
    background-color: #222;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0.01em solid grey;
}


.footer-lg .jumbotron{
    background: transparent;
    margin-bottom: 0;
}

.footer-logo a{
    color: white!important;
}

.footer-logo a:hover{
    color: darkorange !important;
}

.footer-lg h3{
    color: white;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.footer-lg h4{
    color: white;
    font-weight: 500;
}

.footer-lg .links{
    padding-left: 70px;
}

.footer-link{
    list-style: none;
    line-height: 2;
    padding-top: 10px;
}

.footer-link a:hover{
    text-decoration: none;
    color: darkorange !important;
}

.footer-contact{
    text-align: left;
    margin-left: -40px;
}


.copyright-bar{
    background-color:  #222;
}

.cpy-foot{
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 45px;
}

.cpy-foot h6{
    font-weight: 400;
    font-size: 18px;
}

.scroller a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.footer-terms {
    color: grey;
    font-weight: 400;
    line-height: 0.5;
}

.footer-terms a{
    color: grey;
    
}

.footer-terms a:hover{
    color: white;
}


@media (max-width:600px){
    .navbar-brand{
    font-size: 25px;
    padding-left: 0px;
}
    
    #navbarNav{
        background-color: black;
        color: white;
        width: 100%;
    }
    
    .navbar-nav li{
        padding-left: 20px;
        
    }
    
  .navbar-nav li a{
    color: white !important;
    filter: brightness(100%);
    position: relative;
    padding-top: 10px;
      margin-bottom: 0.5px;
     
}
    
    
.banner-head{
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;

}
    
.banner-contnt{
    font-size: 17px;
}
    
.img-sm{
    padding-top:50px; 
}
    
    .about-section .display-4{
        font-size: 32px;
    }

    .about-section p{
        font-size: 16px;
    }

    .about-section .text-muted{
        font-size: 16px;
    }
    
    #row-2{
    margin-top: -10px;
}
    
    .service-main .display-4{
        font-size: 32px;
    }
    
    .service-main .text-muted{
        font-size: 16px;
    }
    
    .service-main .card-title{
        font-size: 20px;
    }
    
    .service-main .card-text .text-muted{
        font-size: 16px;
    }
    
    .service-main .card-text{
        font-size: 14px;
    }
    
.service-padding{
    padding-top: 40px;
}
    
.card-text .text-muted{
    font-size: 15px;
}
    
/*----------Footer style---------*/

    
.footer-lg h3{
    padding-left: 0px;
    font-size: 15px;
}
    
.footer-lg h4{
    font-size: 20px;
}
    
.footer-lg .links{
    padding-left: 15px;
    padding-top: 20px;
}
    
.cpy-foot h6{
        text-align: center;
        font-size: 15px;
        font-weight: 100;
    }

    .cpy-foot .footer-terms{
        text-align: center;
    }
    
.cpy-foot{
    padding-left: 20px;
}

.scroller a{
    justify-content: center;    
}

}

@media all and (min-width:601px) and (max-width:767px){
     .navbar-brand{
    font-size: 25px;
    padding-left: 0px;
}
    
    #navbarNav{
        background-color: black;
        color: white;
        width: 100%;
    }
    
    .navbar-nav li{
        padding-left: 20px;
    }
    
  .navbar-nav li a{
    color: white !important;
    filter: brightness(100%);
    position: relative;
    padding-top: 10px;
      margin-bottom: 0.5px;
}
    
.banner-head{
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;

}
    
.banner-contnt{
    font-size: 21px;
}
    
.img-sm{
    padding-top:50px; 
}
    
 .service-padding{
    padding-top: 40px;
}

/*----------Footerstyle---------*/
.footer-lg h3{
    padding-left: 0px;
    font-size: 16px;
}
    
.footer-lg .links{
    padding-left: 15px;
    padding-top: 40px;
    
}
    
.footer-lg .links h4{
        font-size: 18px;
    }
    
.cpy-foot h6{
    text-align: center;
    font-size: 15px;
}

.footer-terms{
    font-size: 12px;
    text-align: center;
}
    
.scroller a{
    justify-content: center;    
}

}

@media all and (min-width:768px) and (max-width:991px){
 .navbar-brand{
    padding-left: 0px;
}
    
#navbarNav{
        background-color: black;
        color: white;
        width: 100%;
}
    
.navbar-nav li{
        padding-left: 20px;
}
    
.footer-lg h3{
    padding-left: 0px;
    font-size: 16px;
}
   
    
}